<details class="lasfile mdl-card mdl-shadow--2dp">
    <summary class="mdl-card__title mdl-card--border">
        <span class="origin">$origin</span>
        <span class="well">$well</span>
    </summary>
    <div class="mdl-card__supporting-text">

        <span class="path">$path</span>

        <gen for (sub in subs)>
            <p class="sub">
                <gen if (sub.added)>
                    <span class="material-icons">radio_button_checked</span>
                </gen>
                <gen else>
                    <span class="material-icons">radio_button_unchecked</span>
                </gen>
                <span class="mnem">${sub.mnem}</span>
                <span class="strt">${sub.strt}</span>
                <span class="stop">${sub.stop}</span>
            </p>
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <button class="mdl-button mdl-button--icon mdl-button--colored"><i
                class="material-icons">launch</i></button>
    </div>
</details>
