<tr id="task-sets-path-${id}-row">
    <td>
        <div class="mdl-textfield">
            <input id="task-sets-path-${id}-input" class=" mdl-textfield__input"
                type="text">
            <label for="task-sets-path-${id}-input"
                class="mdl-textfield__label">
                Путь к папке или файлу для обработки...
            </label>
        </div>
    </td>
    <td>
        <button id="task-sets-path-${id}-remove"
            class="mdl-button mdl-button--icon mdl-button--colored">
            <i class="material-icons">remove</i>
        </button>
    </td>
</tr>
