.file-sets-bar {
    position: fixed;
    bottom: 0;
    background: #fdf;
    display: flex;
    width: 100%;
    /* flex: auto; */
    flex-direction: row;
    justify-content: space-around;
    z-index: 2;
}

.file-sets {
    height: 1.5rem;
    line-height: 1.5rem;
    display: block;
    margin: 0 0.5rem;
    width: max-content;
}

.file-sets.space {
    width: auto;
    flex-grow: 1;
}

.file-sets-notes {
    margin: 0 0.5rem;
}

.file-sets-notes.errors::before {
    content: "error";
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
}
.file-sets-notes.warnings::before {
    content: "warning";
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
}

.file-line {
    height: 1rem;
    display: block;
}

.file-line:hover {
    background: #eee;
}

.file-line > * {
    display: inline-block;
    margin: 0;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.line-index {
    width: 2rem;
    text-align: right;
    background: #eee;
    position: sticky;
    left: 0;
    z-index: 1;
}

.line-index:hover {
    background: #ddd;
}

.line-notes {
    /* display: block; */
    position: absolute;
    right: 5px;
    left: auto;
    background: #eee;
    padding: 4px;
    margin-top: -4px;
    border-radius: 4px;
    width: max-content;
    visibility: hidden;
}

.file-line:hover > .line-notes,
.line-data:focus .line-notes {
    opacity: 1;
    visibility: visible;
}

.line-data {
    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
    width: 100%;
    position: absolute;
    width: calc(100% - 2rem);
    /* position: relative; */
    /* margin-left: 2rem; */
    white-space: pre;
    font-family: monospace;
    font-size: 1rem;
    border: none;
    /* color: aquamarine; */
    background: none;
    padding: 0;
    /* box-sizing: border-box; */
}

.line-data.warning {
    background: rgba(255, 255, 0, 0.05);
}
.line-data.error {
    background: rgba(255, 0, 0, 0.05);
}

.line-notes-p {
    background: #fff;
    /* margin: 0 4px; */
    border-radius: 4px;
    padding: 2px;
    margin: -2px -2px 0 8px;
}

.line-notes > * {
    border-radius: 4px;
    padding: 2px;
    margin: 2px;
}

.line-notes-e {
    background: #fcc;
}

.line-notes-w {
    background: #ffc;
}

.line-data.ignore,
.line-data.comment {
    opacity: 0.5;
}

.line-data.section {
    color: rgb(0, 128, 128);
}

/* main > div > div#line-v + pre {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

main > div > div#line-v + pre > div {
    position: absolute;
    border-left: 1px solid rgba(0, 0, 0, 0.15);
    display: inline-block;
    height: 100%;
} */

.opend-file {
    padding-bottom: 75vh;
    background: #fff;
    margin-top: 4px;
}
