.tbl-row,
.tbl-head {
    display: block;
    width: max-content;
    height: 1.5rem;
}

.tbl-row:hover {
    background: #eee;
}

.tbl-index,
.tbl-name,
.tbl-type,
.tbl-size,
.tbl-origin,
.tbl-path,
.tbl-encode,
.tbl-notes,
.tbl-well,
.tbl-c-name,
.tbl-c-strt,
.tbl-c-stop,
.tbl-c-step,
.tbl-up {
    display: inline-block;
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0;
    border: #607d8b 1px solid;
    box-sizing: border-box;
    padding: 0 4px;
    overflow: hidden;
    height: 1.5rem;
    min-width: 6rem;
    max-width: 6rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: r;
}

.tbl-index {
    text-align: right;
    min-width: 4rem;
    max-width: 4rem;
    position: sticky;
    left: 0;
    background: #fff;
}

.tbl-head {
    position: sticky;
    background: #fff;
    top: 0;
    z-index: 1;
}

.tbl-name {
    min-width: 12rem;
    max-width: 12rem;
}
.tbl-origin,
.tbl-path {
    min-width: 24rem;
    max-width: 24rem;
}

.tbl-size {
    text-align: right;
}

.tbl-up {
    min-width: 88rem;
    max-width: 88rem;
}

.tbl-notes-count,
.tbl-notes-warn,
.tbl-notes-error {
    margin: 0 2px;
}

.tbl-notes-count {
    color: #333;
}

.tbl-notes-warn {
    color: #cc0;
}

.tbl-notes-error {
    color: #a00;
}
